*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

main{
    width: 70%;
    margin: 0 auto;
    font-family: 'Fredoka One', cursive;
}

header{
    text-align: center;
}

h1{
    font-size: 2.5rem;
    color: #e53170;
    padding: 3rem;
}

img{
    width: 7rem;
    float: left;
    margin-right: 1rem ;
}

.conteiner{
    width:calc((100% / 3) - 2rem);
    float: left;
    background-color: #0f0e17;
    box-shadow: .5rem .5rem 1rem #cdcdcc ;
}

.section{
    margin-top: 3rem;
}

.middle{
    margin: 0 2rem;
}

div p{
    color: white;
    margin: 0.7rem 0;
}

a{
    text-decoration: none;
    color: #52b1de;
}

.name{
    font-size: 1.5rem;
}